:root {

    --navHeight: 64px;
    --navPt: 18px;
    --navGap: 8px;
    --sectionPb: 95px;
    --clientW: 960px;

    --white: #fff;
    --ghostWhite: #f1f1fb;
    --eerieBlack: #1d1d1f;

    --bgPrimary: var(--ghostWhite);
    --copyPrimary: var(--eerieBlack);
    --btnPrimary: #2b2e3a;
    --btnSecondary: #e4e6ef;
    --senderMsg: #e4e6ef;
}