:root {

    --navHeight: 64px;
    --navPt: 18px;
    --navGap: 8px;
    --sectionPb: 95px;
    --clientW: 960px;
    --chatInputH: 48px;
    --chatInputPb: 32px;

    --white: #fff;
    --ghostWhite: #f1f1fb;
    --lavander: #e9e9ff;
    --eerieBlack: #1d1d1f;
    --taupeGray: #86868b;

    --bgPrimary: var(--ghostWhite);
    --bgSecondary: var(--lavander);
    --copyPrimary: var(--eerieBlack);
    --copySecondary: var(--taupeGray);
    --btnPrimary: #2b2e3a;
    --btnSecondary: #e4e6ef;
    --senderMsg: #e4e6ef;
}