:root {
    --r-nav-height: 52px;

    --white: #fff;
    --ghostWhite: #f1f1fb;
    --eerieBlack: #1d1d1f;

    --bgPrimary: var(--ghostWhite);
    --copyPrimary: var(--eerieBlack);
    --btnSecondary: #e4e6ef;
}